*{
	margin: 0;
	padding: 0;
    color: #fff;
}

body{
    background-color: #262121;
}

#home{
    background: linear-gradient(to top, #000000bc, #000000bc),url(images/paper.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 100px;
    position: absolute;
    top: 4%;
    left: 5%;
    box-shadow: 0px 0px 50px #00000069;
    border-radius: 9999px;
}

.logo:hover{
    animation: logorotate 1.2s infinite;
    animation-timing-function: linear;
}

@keyframes logorotate{
    100%{
        transform: rotateY(360deg);
    }
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.navbar ul li{
    list-style:none;
    align-items: center;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    align-items: center;
    font-family: 'Belanosima', sans-serif;
    color: #fff;
    font-size: 25px;
    position: relative;
}

.navbar ul li ::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.75s;
}

.navbar ul li:hover ::after{
    width:100%;
}

.title-text{
    width: 100%;
    text-align: center;
    top: 25%;
    position: absolute;
    z-index: 1;
}

.title-text{
    font-family: 'Belanosima', sans-serif;
    font-size: 50px;
}

.title-text h1{
    font-family: 'Rock Salt', cursive;
    font-size: 120px;
    animation: textmove 2s forwards;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

@keyframes textmove{
    0%{
        transform: translateY(5%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.title-button a{
    width: 150px;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin: 0 8px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
}

.title-button a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

#Y span{
    background:#FF0000;
}

#D span{
    background:#5865F2;
}

.title-button a:hover span{
    width: 100%;
}

#spheal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    
}
#spheal img{
    animation: movement 3s forwards;
    opacity: 0;
    transform-origin: center;
    max-height: 80%;
    max-width: 100%;
}

@keyframes movement{
    0%{
        
        opacity: 0;
        transform: rotate(350deg);
    }
    100%{
        opacity: 0.2;
        transform: rotate(360deg);
        }
    }

#banner{
    background: linear-gradient(to top, #000000bc, #000000bc),url(images/paper.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}

#big-text h1{
    text-align: center;
    padding-top: 70px;
    font-family: 'Belanosima', sans-serif;
    font-size: 80px;
    animation: textmove 1.5s forwards;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#box{
    width: 55%;
    margin: auto;
    padding: 70px 0;
    padding-bottom: 2rem;
    background: #262121;
    font-family: 'Belanosima', sans-serif;
}

#desc p{
    font-family: 'PT Sans', sans-serif;
    flex-basis: 100%;
    color: #fff;
    font-size: 25px;
    padding-bottom: 2rem;
}

#desc a{
    color: #fb4848;
}

#blog-back{
    padding: 50px;
}

.blog-box{
    width: 55%;
    margin: auto;
    padding: 20px;
    padding-bottom: 1rem;
    background: #262121;
    flex-basis: 100%;
	border-radius: 10px;
	box-shadow: 0 10px 20px 3px #00968840;
    transition: 0.5s;
}

.blog-desc{
    font-family: 'PT Sans', sans-serif;
}

.blog-desc p{
    padding-bottom: 10px;
    font-size: 17px;
}

hr{
    margin: 5px auto;
}

.blog-desc small{
    color: #b08c8c;
}

.blog-box:hover{
    transform: translateY(-10px);
}

.blog-box a{
    text-decoration: none;
}

#post-title h1{
    text-align: center;
    padding-bottom: 70px;
    font-size: 80px;
    animation: textmove 1s forwards;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

@media screen and (max-width:700px){
    .title-text h1{
        font-size: 60px;
    }
    .logo{
        opacity:0;
    }
    .navbar{
        display:block;
        text-align: center;
    }
    .title-button{
        padding-bottom: 10px;
    }
    .title-button a{
        width:60%;
        font-size:30px;
    }
    .title-button a span{
        width: 100%;
    }
    #box{
        width: 90%;
    }
    #desc p{
        font-size:20px;
    }
    #blog-back{
        padding-right: 10px;
        padding-left: 10px;
    }
    .blog-box {
        width: 80%;
    }
    #big-text h1{
        padding-top: 35px;
    }


}